.joblead {
  background: url('/assets/mood.jpg');
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.padd-50 {
  padding-top: 50px;
  padding-left: 20px;
}

.max-width-img {
  max-width: 100%;
}



/* This move the pop up to the top right corner*/
.box-open {
  position: absolute !important;
  top:0 !important;
  right:0 !important;
}

.main {
  height: 100vh;
  background-color: black;
}

.logo-title {
  background: white;
  padding: 10px;
  
}


/* .top-title-img {
  height:auto;
  max-width:100%;
  border:none;
  display:block;
} */




body {font-family: Arial, Helvetica, sans-serif;
  
}
* {box-sizing: border-box;}


.top-title {
  width: 380px;

  background-color: rgb(39, 37, 37);
  color: white;
  padding: 16px 20px;
}

/* This control the third box*/
.box3 {
  background-color: rgb(250, 243, 243);
  color: rgb(17, 17, 17);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 380px;
  position:absolute;
  bottom:200px;
  left:0;
  font-size: 12px;
  height: 270px;
  padding: 55px 5px 5px 20px;
  max-width: 100%;
}

/* this is used to float arrow circle to the left*/
.half1 {
  float: left;
}

h2 {
  line-height: 2px;
}

.padd-10 {
  margin: 5px;
  padding: 5px 5px 5px 20px;
}

.padd-inner {
  padding-left: 20px;
  margin: 5px;
}

strike {
  font-size: 12px;
  margin: 0px;
}




/* Button used to open the rigth pop up box - fixed at the bottom of the page */
.open-button {
  background-color: rgb(218, 69, 69);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 380px;
  position:absolute;
  bottom:100px;
  left:0;
  max-width: 100%;
}


/* The right side pop - hidden by default */
.right-side-pop {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9;
  position:absolute;
  top:0;
  right:0;
}

.bounce-in-bottom{
  -webkit-animation:bounce-in-bottom 1.1s both;
  animation:bounce-in-bottom 1.1s both;
}


/* Full-width textarea */
.pop-up-box {
  max-width:380px;
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  opacity: 0.5;
  resize: none;
  min-height: 300px;
}






/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/* Assignment specification */

.maxWidth {
    max-width:380px;
    margin:0 auto;
  }
  
  
  /* Small devices (tablets, 768px and up) */
  @media (min-width:768px) { 
  
  /* .maxWidth {
    max-width:100%;
    margin: 0 auto;
  } */
    
  }
  /* Small devices (tablets, up to 768px) */
  @media (max-width:768px) {
    .top-title-img{
      display:block;
      position: relative;
    }

    .joblead {
      background: none;
    }
  }
  /* Medium devices (desktops, between 992px and 768px) */
  @media (min-width: 768px) and (max-width: 992px) {  
    .top-title-img{
      display:none;
    }
  }
  /* Medium devices (desktops, up to 992px) */
  @media (max-width: 992px) {  
    /* .top-title-img{
      display:none;
    } */
  }
  /*  Medium devices (desktops, 992px and up)  */
  @media (min-width: 992px) {  
    .top-title-img{
      display:none;
    }
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1104px) {
  .maxWidth, .top-title-img {
    max-width:1104px;
    display:none;
  } 
  
  }
