.joblead {
  background-image: url('../assets/mood.jpg');
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0px;
   
}

@font-face{
  src: url(/assets/firaSans-webf/FiraSans-Book.eot);
  font-family: fira;
}


* {
  font-family: fira;
}

.padd-50 {
  padding-top: 20px;
  
}

.max-width-img {
  max-width: 100%;
}

/* This move the pop up to the top right corner*/

.main {
  background-color: black;
  height: 100vh
}

div.logo-title {
  background: rgb(250, 243, 243);
  margin-bottom: 20px;
  width: 250px;
  max-width: 100%;
  display: block;
  animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-delay: 2s;
  -moz-animation-delay: 2s; /*mozila*/
  -webkit-animation-delay: 2s; /*safari*/
  /* animation-iteration-count: 2; */
}

body {font-family: MyWebFont, Arial, Helvetica, sans-serif;
  
}
* {box-sizing: border-box;}



/*This is used for the title box*/
.top-title {
  max-width: 350px !important;
  background-color: rgb(39, 37, 37);
  color: white;
  padding: 5px;
}


/* This control the third box*/
.box3 {
  background-color: rgb(250, 243, 243);
  color: rgb(17, 17, 17);
  padding: 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 350px;
  position:relative;
  font-size: 12px;
  height: 200px;
  max-width: 100%;
}


/* Button used to open the rigth pop up box - fixed at the bottom of the page */
.open-button {
  background-color: rgb(243, 143, 29);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 350px;
  position:relative;
  max-width: 100%;
}

/* this is used to float arrow circle to the left*/
.half1 {
  float: left;
  padding-left: 30px;
}

strike {
  font-size: 12px;
  margin: 0px;
}

/* The right side pop - hidden by default */
.right-side-pop {
  display: none;
  z-index: 7;
  position:absolute;
  top:0;
  right:0;
  max-width:350px;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  opacity: 0.7;
  max-height: 100%;
}



/* Add some hover effects to buttons */
.btn:hover, .open-button:hover {
  opacity: 1;
  height: 70px;
  max-width: 100%;
}

/*footer*/

footer {
  background-color: black !important;
  text-align: center;
  padding: 20px;
  color: whitesmoke;
}


/* Assignment specification */

.maxWidth {
    max-width:380px;
    margin:0 auto;
  }
  
  
  /* Small devices (tablets, 768px and up) */
  @media (min-width:768px) { 
    .top-title-img {
      padding: 10px 10px;
    }

    

  }
  /* Small devices (tablets, up to 768px) */
  @media (max-width:768px) {
    .top-title-img{
      display:block;
      position: relative;
      padding: 10px 10px;
    }
    .joblead {
      background: none;
      height: 100vh;
    }

    .pop-up-box {
      left: 0px;
      position: relative;

    }
       
  }


  /* Medium devices (desktops, between 992px and 768px) */
  @media (min-width: 768px) and (max-width: 992px) {  
    .top-title-img{
      display:none;
    }

  }
  /* Medium devices (desktops, up to 992px) */
  @media (max-width: 992px) {  
    .right-side-pop {
      position:relative;
      background-color: whitesmoke !important;
      background-position-x: 10px;
    }
    

    .main-mobile {
      background-color: black !important;
      text-align: center;
      padding: 10px;
      color: whitesmoke;
    }

    .joblead {
      background: none;
      height: 100vh;
    }

    #popBox{
      display:none;
      
    }
    .padd-50 {
      padding-top: 10px;  
    }
 
  }
  /*  Medium devices (desktops, 992px and up)  */
  @media (min-width: 992px) {  
    .top-title-img{
      display:none;
    }  
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1104px) {
  .maxWidth, .top-title-img {
    max-width:1104px;
    display:none;
  } 
  }
